:root {
    --main-background-color: #a52a2a;
    --main-foreground-color: white;
    --sizing-1: .25rem;
    --sizing-2: calc(var(--sizing-1) * 2);
    --sizing-3: calc(var(--sizing-1) * 4);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--main-background-color);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

article {
    padding: var(--sizing-3);
    margin: var(--sizing-2);
    border-radius: .5rem;
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
}

article h1 {
    color: var(--main-foreground-color);
    margin: 0;
}

@media screen and (min-width: 767px) {
    article {
        background-color: var(--main-foreground-color);
        color: var(--main-background-color);
        border: 2px solid;
    }

    article h1 {
        color: var(--main-background-color);
    }
}

img {
    width: 100%;
}